---
layout: base.njk
title: Countries
permalink: /
---
<h1>{{ api.countries | length }} countries</h1>

<ul>
{%- for country in api.countries %}
  <li>
    <a href="/country/{{ country.code | lower }}/">{{ country.emoji }} {{ country.name }}</a>
    <small>— {{ country.continent.name }}</small>
  </li>
{%- endfor %}
</ul>
